
/*General section*/

@font-face {
  font-family: 'RedHat';
  src: url('../assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 800;
  font-style: normal;
}

body{
  margin: 0;
  font-family: 'RedHat';
  background-color: hsl(20, 50%, 98%);
}

img {
  display: block; /*this is to remove the bottom gap in a image. that happens for the same reason there is a gap under texts.*/
}

/*holder section*/
.holder-of-all {
  position: relative;
  display: grid;
  grid-template-rows:1fr auto;
  gap: 1.5rem;
  padding: 0 2.5rem 2.5rem;
  margin: 0 auto;
  max-width: 80rem;
  place-content: center;
  .product-type-plus-product-holder {
    position: relative;

    .product-type {
      /*desserts*/
      position: sticky;
      top: 0;
      z-index: 100;
      background-color: hsl(20, 50%, 98%);
      font-size: 3rem;
    }

    .product-holder {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.5rem;

      .product {
        line-height: 2rem;
        max-width: 430px;

        .product-img-holder {
          border-radius: .7rem;
          position: relative;
          margin-bottom: 3rem;

          .add-to-cart-button {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
        
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        
            padding: 1rem 2rem;
            text-wrap: nowrap;
            font-size: 90%;
        
            border: 1px solid gray;
            border-radius: 50px;
            font-weight: bold;
            background-color: white;
        
            img {
              width: 20%;
            }
          }

          .product-img {
            width: 100%;
            object-fit: cover;
            border-radius: .7rem;
          }
        }

        .product-name {
          color: gray;
          font-size: 1.1rem;
        }

        .product-description {
          font-size: 1.3rem;
          font-weight: bold;
        }

        .product-price {
          font-size: 1.3rem;
          color: hsl(14, 86%, 42%);
          font-weight: bold;
        }
      }
    }
  }

  .checkout-section {
    padding-top: 1rem;

    .checkout {
      background-color: white;
      max-width: 430px;
      padding: 2.3rem 1.5rem 4rem;
      border-radius: .7rem;

      .cart-quantity {
        font-size: 2rem;
        font-weight: bolder;
        color: hsl(14, 86%, 42%);
      }

      .render-place {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .empty-cart-img {
          height: 11rem;
        }

        .render-here {
          color: hsl(7, 20%, 60%);
          font-weight: bold;
          font-size: 1.2rem;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .holder-of-all {
      grid-template-columns: 2fr 1fr;
      height: 2000px;
      padding-top: 4rem;
    }
  .product-holder {
    grid-template-columns: repeat(2, 1fr);
  }
  .checkout {
    position: sticky;
    top: 0;
  }
}

@media (min-width: 992px) {
  .holder-of-all {
    grid-template-columns: 2fr 1fr;
    height: 2000px;
    padding-top: 4rem;
  }
  
  .product-holder {
    grid-template-columns: repeat(3, 1fr);
  }
  .checkout {
    position: sticky;
    top: 0;
  }
}